{% extends 'base.html' %}
{% block title %}{{ title }} - ELEMENTAIRE KOKI 1{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>{{ title }}</h4>
                <form method="post">{% csrf_token %}
                    {% for field in form %}
                    <div class="mb-3">{{ field.label_tag }}{{ field }}{% if field.errors %}<div class="text-danger small">{{ field.errors }}</div>{% endif %}</div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Publier</button>
                    <a href="{% url 'notifications:announcement_list' %}" class="btn btn-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
