{% autoescape off %}
Bonjour {{ user.get_full_name }},

Vous recevez cet e-mail car vous avez demandé une réinitialisation de mot de passe pour votre compte.

Veuillez vous rendre sur la page suivante pour choisir un nouveau mot de passe :
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

Votre identifiant : {{ user.email }}

Si vous n'avez pas demandé cela, vous pouvez ignorer cet e-mail en toute sécurité.

Merci,
L'école ELEMENTAIRE KOKI 1
{% endautoescape %}
